{% extends 'base.html.twig' %}
{% block title  destination.nomDes%}
{% block home %}
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
        <div class="container position-relative text-center text-lg-left" data-aos="zoom-in" data-aos-delay="100">
            <div class="row">
                <div class="col-lg-8">
                    <h1>Nom: <span>{{ destination.nomDes }}</span></h1>
                    <h2>Informations: <span>{{ destination.inforDes }}</span></h2>

                    <div class="btns">
                        <a href="{{ path('AfficherDestinations') }}" class="btn-menu animated fadeInUp scrollto">Retour</a>
                    </div>
                </div>
                <div class="col-lg-4 d-flex align-items-center justify-content-center" data-aos="zoom-in" data-aos-delay="200">
                    <a href="https://www.youtube.com/watch?v=GlrxcuEDyF8" class="venobox play-btn" data-vbtype="video" data-autoplay="true"></a>
                </div>

            </div>
        </div>
    </section><!-- End Hero -->
{% endblock %}

{% block body %}

{% endblock %}


